@page "/manage-tasks"
@inherits ManageTasksBase

@inject HttpClient Http
@using FamilyTask.Components
@using FamilyTask.Shared.Components

@if (isLoaded)
{
    <div class="page-wrapper row m-0 col-12 p-0">
        <div class="col-4 p-0">
            <LeftMenu MenuItems="@leftMenuItem" OnAddItem="@onAddItem" OnDrop="@(e => onDrop(e))"/>
        </div>
        <div class="col-8 p-0">
            @if (showLister)
            {
                <div class="col-10 offset-1 pt-5">
                    <div class="row m-0">
                        <Field class="col-9 p-0 custom-input">
                            <TextEdit Placeholder="Enter New Task" @bind-Text="@taskstring" />
                        </Field>
                        <div class="col-3 p-0 text-right">
                            <Button class="add-btn px-4" Clicked="@addTask">Add</Button>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <TaskListerComponent Tasks="@tasksToShow" OnDrag="@(e => onDrag(e))" OnCheckChange="@(e => onCheckChange(e))" />
                </div>
            }
            @if (showCreator)
            {
                <div class="col-10 offset-1 pt-5">
                    <FamilyMemberCreator onAddCallback="@onMemberAdd" />
                </div>
            }
        </div>
    </div>
}
